h1 {
  font-size: 4rem;
  line-height: 1.2;
  color: $dark;
}

%dark-outline {
  color: $dark;
  -webkit-text-fill-color: transparent; /* FF/IE Fuck-fix... Override color (regardless of order) */
  -webkit-text-stroke-width: 0.3vmax;
  -webkit-text-stroke-color: $dark;
}

.about {
    order: 2;
    flex: 0 1 auto;
    align-self: auto;
  @extend .left-page;
    h2 {
      font-size: inherit;
      line-height: 4;
      //padding-bottom: 2.5vmin;
      @extend %underlined;
    }
        @include skjerm {
        h2 {
          font-size: 1.5vw;
          //padding-bottom: 2.5vmin;
        }
      }
}

.ingress {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  @extend .left-page;
  @extend  %dark-outline;
  display:block;
  //margin-top: $top; //viktig
  font-size: 4rem;
  font-size: 13.5vw;
  font-size: 6.5vmax;
  line-height: 1.2;
  color: $dark;
  padding-bottom:10vmin;
  @extend .vertical-half;
  @include skjerm {
    line-height: 1.255;
    font-size: 6.2vw;
    margin:-0.253vw;
    margin-top: $top; //viktig
  }
}

.contact {
  padding-bottom: 10vmin;
}

.experience, .education {

  @include skjerm {
    width: 50%;
    font-size: 1.5vw;
    padding-bottom: 1rem;
    float: left;
  }

}
