header {
  //background:$light;
  //height: 3rem;
  width: 100vw;
  z-index: 1;

  .left {
    z-index: 999;
    width: 50vw;
    color: $dark;
    background: $light;
    left:0;
    display:block;
    position:fixed;
    padding:$padding;
    padding-bottom: 8.5vmin;
    //padding-bottom: 8.5vmin;
    a {
    color: $dark;
    }

    /* li:nth-child(1) { //navn på prosjekt
      float: left;
      width: 60%;
      text-align: left;
      //display: none;
    }
    li:nth-child(2) { //type prosjekt
     float: left;
     width: 30%;
     color: transparent;
     -webkit-text-stroke: 0.05rem $light;
     //display: none;
    }
    li:last-child { //year
      float: right;
      width: 10%;
      text-align: left;
      color: transparent;
      -webkit-text-stroke: 0.05rem $light;
      //display: none;
    } */
  }
  .right {
    width: 50vw;
    right:0;
    display:block;
    position:fixed;
    padding:$padding;
    padding-bottom: 8.5vmin;
    //padding-bottom: 8.5vmin;
    z-index: 999;
    color:$light;
    background: $dark;
    a {
    color: $light;
    background: $dark;
    padding-right:1vmin;
    &:hover { border-color:$light; background: $dark;}
    }
    span.title {
      //padding-left: 10%;
      display:none;
      float:right;
      background: $dark;
      padding-left:1vmin;
      -webkit-text-stroke: 0.03rem $light;
      -webkit-text-fill-color: transparent;
      //@extend a:hover;
      //color: $light;
    }
    span:before {
      width: 44vw;
      right: 3vw;
      height: 2vw;
      content: '';
      border-bottom: 0.35vmin solid $light;
      display: inline;
      position: absolute;
      z-index: -1;
      top: 1.5vw;
      //bottom: 5.5vmin;
    }
  }
}

.frontpage span.title {
  display: none;
}

.logo {
  display: none;
  position:fixed;
  z-index:-1;
  font-size: 20vw;
  //color: blue;
  left:0;
  right:0;
  top:40%;
  bottom:0;
  text-align: center;
  -webkit-text-stroke: 2px $dark;
}
