header {
width: 100vw;
height:10vh;
z-index: 9999;
background: $light;
top:0;
left:0;
right:0;
position: fixed;
@include skjerm {
  height:0;
  background: transparent;
}

  .left {
    //z-index: 999;
    width: 50vw;
    color: $dark;
    //background: $dark;
    left:2vw;
      @include skjerm {
        left:0;
        background: $light;
      }//skjerm
    display:block;
    position:fixed;
    padding:$padding;
    //padding-bottom: 8.5vmin;
      a {
      color: $dark;
        @include skjerm {
          //color: $dark;
        }//skjerm
      }
    }

  .right {
    width: 50vw;
    right:0;
    text-align: right;
    position:fixed;
    padding:$padding;
    //padding-bottom: 8.5vmin;
    //z-index: 999;
    //background: $light;
    a {
    color: $dark;
    padding-right:1vmin;
    &:hover { border-color:$light; background: $dark;}
    }
    @include skjerm {
      background: $dark;
      text-align: left;
      a {
        color: $light;
        background: $dark;
      }
    }//skjerm
    span.title {
      display:none;
      float:right;
      background: $dark;
      padding-left:1vmin;
      -webkit-text-stroke: 0.03rem $light;
      -webkit-text-fill-color: transparent;
    }
    span:before {
      width: 44vw;
      right: 3vw;
      height: 2vw;
      content: '';
      border-bottom: 0.35vmin solid $light;
      display: inline;
      position: absolute;
      z-index: -1;
      top: 1.5vw;
    }
  }//right
}//header

.frontpage span.title {
  display: none;
}

.logo {
  display: none;
  position:fixed;
  z-index:-1;
  font-size: 20vw;
  //color: blue;
  left:0;
  right:0;
  top:40%;
  bottom:0;
  text-align: center;
  -webkit-text-stroke: 2px $dark;
}
