ul.project {
  //@include hide;
}

.project {
  overflow: hidden;
  width: 100%;
  //background: red;
  display: block;
}

.project:hover .project-image {
  @include skjerm {
  background:yellow;
  opacity:1;
  }
}

.project-image {
@include skjerm {
  opacity:0; //!!!!OMG WTF
  padding:0;
  margin:0;
  position: fixed;
  overflow:hidden;
  top:15vmin;
  left:10vmin;
  bottom:10vmin;
  right:10vmin;
  right:50vw;
  pointer-events:none;
     img {
      min-height:70vmin;
      width:auto;
    }
  }
}




.project-list {
  @extend .right-page;
    @include skjerm {
    color: $light;
    padding-top: $top;
        a {
          color:$light;
          &:hover {
            //border: 2px solid $light;
            //color:$dark;
          }
        }
    }



    li {
      display: inline;
    }

    /* .project-title { //navn på prosjekt
      float:none;
      @include skjerm {
        float: left;
        width: 60%;
        text-align: left;
        //display: none;
        &:hover figure {
          opacity: 1;
          }
      }
    } */

    /*     .project-type { //type prosjekt
     float: left;
     margin-right:5%;
     width: 25%;
     text-align: left;
     //color: transparent;
     //-webkit-text-stroke: 0.05rem $light;
     //@include hide;
    } */

    /*     .project-year { //year
      width: 10%;
      float: right;
      text-align: right;
      //color: transparent;
      //-webkit-text-stroke: 0.05rem $light;
      //display: none;
    } */
  }

.coming-soon {
  text-decoration: line-through;
  color: #999;
}

/*
.project-images {
  @include hide;;
  padding-top: 10rem;
  position: relative;
  z-index:999;
  top:0;
  left:0;
  right:0;
  opacity: 1;

  //opacity: 0.8;
        li {
          float:none;
          margin: 100vmin auto;
          width: 100vmin;
          //margin-left:50vmin;
          //margin-top: 100vmin;
          //margin-left:0vw;
        &:nth-child(2) {
          padding:0;
          width: 100vw;
          margin-top: 100vh;
          //width: 55vw;
          //margin-left:5vw;
          float:right;
        }
        &:nth-child(3) {
          padding:0;
          width: 50vw;
          margin:auto;
          margin-top: 100vh;
          //margin-left:1vw;
          float:right;
        }
        &:nth-child(4) {
          padding:0;
          width: 100vw;
          margin-top: 100vh;
        }

    }



  figcaption {
    @include hide;;
  }
} */


/* .number-projects {
font-variant-position: super;
-moz-font-feature-settings: "sups";
-ms-font-feature-settings: "sups";
-webkit-font-feature-settings: "sups";
font-feature-settings: "sups";
font-size: 4vw;
position:relative;
display:inline;
bottom:3.5vw;
margin-left: -1.3vw;
color: $light;
-webkit-text-stroke: 0 $light;
} */
