$padding:2vw;

/* &:hover *{
  z-index: 99999;
  background: red;
} */

.container:before,
.container:after {
  content:"";
  display:table;
}
.container:after {
  clear:both;
}
.container {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

//* {
//  transform: rotate(45deg);
//}

body {
  overflow-x:hidden;
  box-sizing: border-box;
  font-family:
  "RT Obligat",
  "Mineral",
  "Times NR MT Pro",
  "Larish Alte",
  "Apercu",
  "comic sans MS",
  "mistral",
  "Times New Roman",
  Serif;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  //font-style: condenced;
  //font-size: 24px;
  font-size: 2vw;
  line-height: 1.4;
  color:#000;
  letter-spacing: 0.05rem;
  padding: 0;
  margin:0;
  margin: auto;
  background: #fff;
  //min-height: 2000vh;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin:0;
  padding:0;
}

a {
  text-decoration: none;
  color: #000;
  border-bottom: 0.15rem solid transparent;
}

a:hover, .active  {
  text-decoration: none;
  color: #000;
  border-bottom: 0.15rem solid #000;
}

.logo {
  display: none;
  position:fixed;
  z-index:-1;
  font-size: 20vw;
  //color: blue;
  left:0;
  right:0;
  top:30%;
  bottom:0;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 0.4vw yellow;
}

ul {

}

li {
  list-style: none;
}

.left-page {
  //@extend .container;
  //min-height:100vh;
  padding:2vw;
  //position:fixed;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width:50vw;
  float:left;
  background: #fff;
  color:#000;
  min-height:100vh;
  //overflow:hidden;
  &:hover {
  //z-index:9999;
  //overflow-y: scroll;
    }
}

.right-page {
  position: fixed;
  padding:$padding;
  width:50%;
  float:right;
  background: #000;
  color:#fff;
  min-height:100vh;
  top: 0;
  right: 0;
  &:hover {
    //z-index:9999;
    //overflow-y: scroll;
  }
}

header {
  //background:#fff;
  //height: 3rem;
  width: 100vw;
  z-index: 1;

  .left {
    z-index: 1;
    width: 50vw;
    color: #000;
    left:0;
    display:block;
    position:fixed;
    padding:$padding;
    a {
      color: #000;
     }

    /* li:nth-child(1) { //navn på prosjekt
      float: left;
      width: 60%;
      text-align: left;
      //display: none;
    }
    li:nth-child(2) { //type prosjekt
     float: left;
     width: 30%;
     color: transparent;
     -webkit-text-stroke: 0.05rem #fff;
     //display: none;
    }
    li:last-child { //year
      float: right;
      width: 10%;
      text-align: left;
      color: transparent;
      -webkit-text-stroke: 0.05rem #fff;
      //display: none;
    } */
  }
  .right {
    width: 50vw;
    right:0;
    display:block;
    position:fixed;
    padding:$padding;
    z-index: 99999;
    color:#fff;
  }
  li {
    display: inline;
  }
  li:last-child {
    //float: right;
  }
}

h1 {
  position:relative;
  //z-index:9999;
  top: 15rem;
  font-size: 9vw;
  line-height: 1.2;
  padding:0;
  margin:-0.253vw;
  color: transparent;
  -webkit-text-stroke: 0.002rem #fff;
}

.number-projects {
font-variant-position: super;
-moz-font-feature-settings: "sups";
-ms-font-feature-settings: "sups";
-webkit-font-feature-settings: "sups";
font-feature-settings: "sups";
font-size: 4vw;
position:relative;
display:inline;
bottom:3.5vw;
margin-left: -1.3vw;
color: #fff;
-webkit-text-stroke: 0 #fff;
}

table {
  color: #fff;
  td {
    padding: 0 1.5rem;
    font-size: 2vw;
  }
}

.project-list {
  color: #fff;
  margin-top: 30vmin;
  figure {
    opacity:0;
    padding:0;
    margin:0;
    z-index:9999;
    position: fixed;
    top: 30vmin;
    left: 30vmin;
    right: 30vmin;
    bottom: 30vmin;
    //max-height:100%;
    pointer-events:none;
  }

  ul {
    //padding: 0 1.5rem;
    display: block;
    font-size: 2vw;
    letter-spacing: 0.15rem;
    li {
      display: inline;
    }
    li:nth-child(1) { //navn på prosjekt
      float: left;
      width: 60%;
      text-align: left;
      //display: none;
      &:hover figure {
        opacity: 1;
        }
    }
    li:nth-child(2) { //type prosjekt
     float: left;
     margin-right:5%;
     width: 25%;
     text-align: left;
     //color: transparent;
     //-webkit-text-stroke: 0.05rem #fff;
     //display: none;
    }
    li:last-child { //year
      width: 10%;
      float: right;
      text-align: left;
      //color: transparent;
      //-webkit-text-stroke: 0.05rem #fff;
      //display: none;
    }
  }
}


.coming-soon {
  text-decoration: line-through;
  color: #999;
}

img {
  width: 100%;
  height: auto;
}

.about {
  margin-top: 30vmin;
}

.project-images {
  display:none;
  padding-top: 10rem;
  position: relative;
  z-index:999;
  top:0;
  left:0;
  right:0;
  opacity: 1;

  //opacity: 0.8;
        li {
          float:none;
          margin: 100vmin auto;
          width: 100vmin;
          //margin-left:50vmin;
          //margin-top: 100vmin;
          //margin-left:0vw;
        /*

        &:nth-child(2) {
          padding:0;
          width: 100vw;
          margin-top: 100vh;
          //width: 55vw;
          //margin-left:5vw;
          float:right;
        }
        &:nth-child(3) {
          padding:0;
          width: 50vw;
          margin:auto;
          margin-top: 100vh;
          //margin-left:1vw;
          float:right;
        }
        &:nth-child(4) {
          padding:0;
          width: 100vw;
          margin-top: 100vh;
        }

        */

    }



  figcaption {
    display:none;
  }
}










.featured {
    li {
      @extend h1;
      color: transparent;
      -webkit-text-stroke: 0.2rem #fff;
      //width:100%;
      //height:30%;
    }
    figure {
      opacity:0;
      padding:0;
      margin:0;
      z-index:9999;
      position: fixed;
      top: 20vmin;
      left: 20vmin;
      right: 20vmin;
      bottom: 20vmin;
      //max-height:100%;
      pointer-events:none;
      }
    li:hover figure {
      opacity: 1;
      }
  }



.about, h2 {
  font-size: 1.5vw;
  padding-bottom: 1rem;
}



.ingress {
  @extend h1;
  position: static;
  display: block;
  font-size: 6.5vw;
  -webkit-text-stroke: 0.2rem #000;
  margin-bottom:10vh;
}

.approach, .education {
  width: 60%;
  padding-bottom: 10vh;
  //margin-bottom:10vh;
  //float: none;
  //clear: right;
}

.experience {
  //margin-top: 2rem;
  //display: block;
  width: 50%;
  //float: left;
  padding-bottom: 10rem;
  //transform: rotate(25deg);
}

.contact {
  @extend .experience;
}

.education li {
  //padding-bottom: 1rem;
}




@media screen and (min-width: 40em) {
    body {
    //width: 100%;
    //max-width: 1400px;
  }

}
