// colors
   $light: #fcfcfc;
   //$dark: #fcfcfc;
   $dark: #1c1c1c;
   //$light: #1c1c1c;

// universal padding (grid etc.)
   $padding:3vw;
   $top:20vmin;

// Font-stacks
   $sans-serif:"RT Obligat", "Helvetica Neue", sans-serif;
   $serif:"Times New Roman", serif;


   //Alternativer:

   //"Mineral",
   //"Times NR MT Pro",
   //"Larish Alte",
   //"Apercu",
   //"Times New Roman",
   //serif,
   //"Helvetica Neue", sans-serif;
