// colors
   $light: #fcfcfc;
   //$dark: #fcfcfc;
   $dark: #1c1c1c;
   //$light: #1c1c1c;


   //$light: white;
   //$dark: blue;

// universal padding (grid etc.)
   $padding:3vw;
   $top:20vmin;

// Font-stacks
   $sans-serif:"RT Obligat", "Helvetica Neue", sans-serif;
   $serif:"Times New Roman", serif;


   //Alternativer:

   //"Mineral",
   //"Times NR MT Pro",
   //"Larish Alte",
   //"Apercu",
   //"Times New Roman",
   //serif,
   //"Helvetica Neue", sans-serif;

@mixin hide {
   position: absolute;
   clip: rect(0, 0, 0, 0);
}

// Breakpoints
   $mobile-width: 500px;
   $tablet-width: 800px;
   $screen-width: 960px;

   @mixin mobil {
     @media (min-width: $mobile-width) {
       @content;
     }
   }

   @mixin tablet {
     @media (min-width: $tablet-width) {
       @content;
     }
   }

   @mixin skjerm {
     @media (min-width: $screen-width) {
       @content;
     }
   }
